# Include your project-specific ignores in this file
# Read about how to use .gitignore: https://help.github.com/articles/ignoring-files

node_modules
ncp-debug.log
npm-debug.log
/build
/bin/**/*.js.map
/**/*.js*
/tests/**/*.js*
/**/*.i.*
/yarn-error.log
/.stryker-tmp
/reports
!webpack.config.js
